// From default typedoc theme, see https://github.com/TypeStrong/typedoc/blob/master/static/style.css
@import "./icons";

:root {
    /* Light */
    --light-color-secondary-background: #fff;
    --light-color-text-aside: #707070;
    --light-color-link: #4da6ff;
    --light-color-menu-label: #707070;
    --light-color-panel: var(--light-color-secondary-background);
    --light-color-comment-tag: #707070;
    --light-color-comment-tag-text: #fff;
    --light-color-ts: #9600ff;
    --light-color-ts-interface: #647f1b;
    --light-color-ts-enum: #937210;
    --light-color-ts-class: #0672de;
    --light-color-ts-private: #707070;
    --light-color-toolbar: #fff;
    --light-color-toolbar-text: #333;
    --light-icon-filter: invert(0);
    --light-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23000' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");

    /* Dark */
    --dark-color-secondary-background: #2f3136;
    --dark-color-text-aside: #e6e4e4;
    --dark-color-link: #00aff4;
    --dark-color-menu-label: #707070;
    --dark-color-panel: var(--dark-color-secondary-background);
    --dark-color-comment-tag: #dcddde;
    --dark-color-comment-tag-text: #2f3136;
    --dark-color-ts: #c97dff;
    --dark-color-ts-interface: #9cbe3c;
    --dark-color-ts-enum: #d6ab29;
    --dark-color-ts-class: #3695f3;
    --dark-color-ts-private: #e2e2e2;
    --dark-color-toolbar: #34373c;
    --dark-color-toolbar-text: #ffffff;
    --dark-icon-filter: invert(1);
    --dark-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23fff' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
}

@media (prefers-color-scheme: light) {
    :root {
        --color-secondary-background: var(--light-color-secondary-background);
        --color-text-aside: var(--light-color-text-aside);
        --color-link: var(--light-color-link);
        --color-menu-label: var(--light-color-menu-label);
        --color-panel: var(--light-color-panel);
        --color-comment-tag: var(--light-color-comment-tag);
        --color-comment-tag-text: var(--light-color-comment-tag-text);
        --color-ts: var(--light-color-ts);
        --color-ts-interface: var(--light-color-ts-interface);
        --color-ts-enum: var(--light-color-ts-enum);
        --color-ts-class: var(--light-color-ts-class);
        --color-ts-private: var(--light-color-ts-private);
        --color-toolbar: var(--light-color-toolbar);
        --color-toolbar-text: var(--light-color-toolbar-text);
        --icon-filter: var(--light-icon-filter);
        --external-icon: var(--light-external-icon);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-secondary-background: var(--dark-color-secondary-background);
        --color-text-aside: var(--dark-color-text-aside);
        --color-link: var(--dark-color-link);
        --color-menu-label: var(--dark-color-menu-label);
        --color-panel: var(--dark-color-panel);
        --color-comment-tag: var(--dark-color-comment-tag);
        --color-comment-tag-text: var(--dark-color-comment-tag-text);
        --color-ts: var(--dark-color-ts);
        --color-ts-interface: var(--dark-color-ts-interface);
        --color-ts-enum: var(--dark-color-ts-enum);
        --color-ts-class: var(--dark-color-ts-class);
        --color-ts-private: var(--dark-color-ts-private);
        --color-toolbar: var(--dark-color-toolbar);
        --color-toolbar-text: var(--dark-color-toolbar-text);
        --icon-filter: var(--dark-icon-filter);
        --external-icon: var(--dark-external-icon);
    }
}

body {
    margin: 0;
}

:root.theme-light {
    --color-secondary-background: var(--light-color-secondary-background);    
    --color-text-aside: var(--light-color-text-aside);
    --color-link: var(--light-color-link);
    --color-menu-label: var(--light-color-menu-label);
    --color-panel: var(--light-color-panel);
    --color-comment-tag: var(--light-color-comment-tag);
    --color-comment-tag-text: var(--light-color-comment-tag-text);
    --color-ts: var(--light-color-ts);
    --color-ts-interface: var(--light-color-ts-interface);
    --color-ts-enum: var(--light-color-ts-enum);
    --color-ts-class: var(--light-color-ts-class);
    --color-ts-private: var(--light-color-ts-private);
    --color-toolbar: var(--light-color-toolbar);
    --color-toolbar-text: var(--light-color-toolbar-text);
    --icon-filter: var(--light-icon-filter);
    --external-icon: var(--light-external-icon);
}

:root.theme-dark {
    --color-secondary-background: var(--dark-color-secondary-background);
    --color-text-aside: var(--dark-color-text-aside);
    --color-link: var(--dark-color-link);
    --color-menu-label: var(--dark-color-menu-label);
    --color-panel: var(--dark-color-panel);
    --color-comment-tag: var(--dark-color-comment-tag);
    --color-comment-tag-text: var(--dark-color-comment-tag-text);
    --color-ts: var(--dark-color-ts);
    --color-ts-interface: var(--dark-color-ts-interface);
    --color-ts-enum: var(--dark-color-ts-enum);
    --color-ts-class: var(--dark-color-ts-class);
    --color-ts-private: var(--dark-color-ts-private);
    --color-toolbar: var(--dark-color-toolbar);
    --color-toolbar-text: var(--dark-color-toolbar-text);
    --icon-filter: var(--dark-icon-filter);
    --external-icon: var(--dark-external-icon);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade-in-delayed {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out-delayed {
    0% {
        opacity: 1;
        visibility: visible;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes shift-to-left {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-25%, 0);
    }
}
@keyframes unshift-to-left {
    from {
        transform: translate(-25%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes pop-in-from-right {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes pop-out-to-right {
    from {
        transform: translate(0, 0);
        visibility: visible;
    }
    to {
        transform: translate(100%, 0);
    }
}

body {
	background: var(--bs-body-bg);
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: var(--bs-body-color);
}
a {
	color: var(--color-link);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&.external[target="_blank"] {
		background-image: var(--external-icon);
		background-position: top 3px right;
		background-repeat: no-repeat;
		padding-right: map-get($spacers, 3);
	}
}
code,
pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: map-get($spacers, 1);
	margin: 0;
	font-size: 14px;
}
pre {
	padding: map-get($spacers, 3);
	code {
		padding: map-get($spacers, 0);
		font-size: 100%;
	}
}
blockquote {
	margin: map-get($spacers, 3) 0;
	padding-left: map-get($spacers, 3);
	border-left: 4px solid gray;
}
.tsd-typography {
	line-height: 1.333em;
	ul {
		list-style: square;
		padding: 0 0 0 map-get($spacers, 3);
		margin: 0;
	}
}
.tsd-typography h4,
.tsd-typography .tsd-index-panel h3,
.tsd-index-panel .tsd-typography h3,
.tsd-typography h5,
.tsd-typography h6 {
	font-size: 1em;
	margin: 0;
}
.tsd-typography h5,
.tsd-typography h6 {
	font-weight: normal;
}
.tsd-typography p,
.tsd-typography ul,
.tsd-typography ol {
	margin: 1em 0;
}

.tsd-page-title {
	padding: map-get($spacers, 3) 0 map-get($spacers, 3) 0;
	background: var(--color-panel);
	h1 {
		margin: 0;
	}
}
.tsd-breadcrumb {
	margin: 0;
	padding: 0;
	color: var(--color-text-aside);
	a {
		color: var(--color-text-aside);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		display: inline;
		&:after {
			content: " / ";
		}
	}
}
dl {
	&.tsd-comment-tags {
		overflow: hidden;
		dt {
			float: left;
			padding: 1px 5px;
			margin: 0 map-get($spacers, 2) 0 0;
			border-radius: 4px;
			border: 1px solid var(--color-comment-tag);
			color: var(--color-comment-tag);
			font-size: 0.8em;
			font-weight: normal;
		}
		dd {
			margin: 0 0 map-get($spacers, 2) 0;
		}
		p {
			margin: 0;
		}
	}
}
dl.tsd-comment-tags dd:before,
dl.tsd-comment-tags dd:after {
	display: table;
	content: " ";
}
dl.tsd-comment-tags dd pre,
dl.tsd-comment-tags dd:after {
	clear: both;
}
.tsd-panel {
	&.tsd-comment {
		.lead {
			font-size: 1.1em;
			line-height: 1.333em;
			margin-bottom: 2em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.toggle-protected {
	.tsd-is-private {
		display: none;
	}
}
.toggle-public .tsd-is-private,
.toggle-public .tsd-is-protected,
.toggle-public .tsd-is-private-protected {
	display: none;
}
.toggle-inherited {
	.tsd-is-inherited {
		display: none;
	}
}
.toggle-externals {
	.tsd-is-external {
		display: none;
	}
}
#tsd-filter {
	position: relative;
	display: inline-block;
	height: 40px;
	vertical-align: bottom;
	.tsd-filter-group {
		display: inline-block;
		height: 40px;
		vertical-align: bottom;
		white-space: nowrap;
	}
	input {
		display: none;
	}
}
.no-filter {
	#tsd-filter {
		display: none;
	}
}

@include media-breakpoint-down(lg) {
    #tsd-filter {
        .tsd-filter-group {
            display: block;
            position: absolute;
            top: 40px;
            right: 20px;
            height: auto;
            background-color: var(--color-panel);
            visibility: hidden;
            transform: translate(50%, 0);
        }
    }
    .has-options {
        #tsd-filter {
            .tsd-filter-group {
                visibility: visible;
            }
        }
    }
    .to-has-options {
        #tsd-filter {
            .tsd-filter-group {
                animation: fade-in 0.2s;
            }
        }
    }
    .from-has-options {
        #tsd-filter {
            .tsd-filter-group {
                animation: fade-out 0.2s;
            }
        }
    }
    #tsd-filter label,
        #tsd-filter .tsd-select {
        display: block;
        padding-right: map-get($spacers, 2);
    }    
}


.tsd-hierarchy {
	list-style: square;
	.target {
		font-weight: bold;
	}
}
.tsd-index-panel {
	.tsd-index-content {
		margin-bottom: -(map-get($spacers, 3)) !important;
	}
	.tsd-index-section {
		margin-bottom: map-get($spacers, 3) !important;
	}
	ul {
		&.tsd-index-list {
			-webkit-column-gap: 20px;
			-moz-column-gap: 20px;
			-ms-column-gap: 20px;
			-o-column-gap: 20px;
			column-gap: 20px;
			padding: 0;
			list-style: none;
			line-height: 1.333em;
		}
	}
}

@include media-breakpoint-down(md) {
    .tsd-index-panel ul.tsd-index-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
}

@include media-breakpoint-up(md) {
    .tsd-index-panel ul.tsd-index-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }
}

@include media-breakpoint-up(xxl) {
    .tsd-index-panel ul.tsd-index-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3;
    }
}


.tsd-index-panel {
	ul {
		&.tsd-index-list {
			li {
				-webkit-page-break-inside: avoid;
				-moz-page-break-inside: avoid;
				-ms-page-break-inside: avoid;
				-o-page-break-inside: avoid;
				page-break-inside: avoid;
			}
		}
	}
	.tsd-parent-kind-interface {
		a {
			color: var(--color-ts-interface);
		}
	}
	.tsd-parent-kind-enum {
		a {
			color: var(--color-ts-enum);
		}
	}
	.tsd-parent-kind-class {
		a {
			color: var(--color-ts-class);
		}
	}
	.tsd-kind-module {
		a {
			color: var(--color-ts);
		}
	}
	.tsd-kind-interface {
		a {
			color: var(--color-ts-interface);
		}
	}
	.tsd-kind-enum {
		a {
			color: var(--color-ts-enum);
		}
	}
	.tsd-kind-class {
		a {
			color: var(--color-ts-class);
		}
	}
	.tsd-is-private {
		a {
			color: var(--color-ts-private);
		}
	}
}
.tsd-index-panel a,
.tsd-index-panel .tsd-parent-kind-module a {
	color: var(--color-ts);
}
.tsd-flag {
	display: inline-block;
	padding: 1px 5px;
	margin-right: map-get($spacers, 3);
	border-radius: 4px;
	color: var(--color-comment-tag-text);
	background-color: var(--color-comment-tag);
	text-indent: 0;
	font-size: 14px;
	font-weight: normal;
}
.tsd-anchor {
	position: absolute;
	top: -100px;
}
.tsd-member {
	position: relative;
	.tsd-anchor {
		& + h3 {
			margin-top: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
	}
	[data-tsd-kind] {
		color: var(--color-ts);
	}
	[data-tsd-kind="Interface"] {
		color: var(--color-ts-interface);
	}
	[data-tsd-kind="Enum"] {
		color: var(--color-ts-enum);
	}
	[data-tsd-kind="Class"] {
		color: var(--color-ts-class);
	}
	[data-tsd-kind="Private"] {
		color: var(--color-ts-private);
	}
}

.tsd-panel {
	margin: map-get($spacers, 3) 0;
	background-color: var(--color-panel);

	@extend .card;
	@extend .card-body;

	&:empty {
		display: none;
	}
	table {
		display: block;
		width: 100%;
		overflow: auto;
		margin-top: 10px;
		word-break: normal;
		word-break: keep-all;
		border-collapse: collapse;
		th {
			font-weight: bold;
		}
		tr {
			background: var(--bs-body-bg);
			&:nth-child(even) {
				background: var(--color-secondary-background);
			}
		}
	}
	> .tsd-signature {
		margin-left: -20px;
		margin-right: -20px;
		border-width: 1px 0;
		&.tsd-kind-icon {
			padding-left: 40px;
			&:before {
				left: 20px;
			}
		}
	}
	> .tsd-signatures {
		margin-left: -20px;
		margin-right: -20px;
		border-width: 1px 0;
		.tsd-signature {
			&.tsd-kind-icon {
				padding-left: 40px;
				&:before {
					left: 20px;
				}
			}
		}
	}
	> a {
		&.anchor {
			& + .tsd-signatures {
				border-top-width: 0;
				margin-top: -20px;
			}
		}
	}

	> h1.tsd-before-signature,
	> h2.tsd-before-signature,
	> h3.tsd-before-signature {
		margin-bottom: 0;
		border-bottom: 0;
	}

	table th,
	table td {
		padding: 6px 13px;
	}
}

.tsd-panel-group {
	margin: map-get($spacers, 5) 0;
}
.tsd-panel-group > h1,
.tsd-panel-group > h2,
.tsd-panel-group > h3 {
	padding-left: map-get($spacers, 3);
	padding-right: map-get($spacers, 3);
}
.tsd-signature {
	margin: 0 0 1em 0;
	padding: 10px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	overflow-x: auto;
	&.tsd-kind-icon {
		padding-left: 30px;
		&:before {
			top: 10px;
			left: 10px;
		}
	}
}
.tsd-signature-symbol {
	color: var(--color-text-aside);
	font-weight: normal;
}
.tsd-signature-type {
	font-style: italic;
	font-weight: normal;
}
.tsd-signatures {
	padding: 0;
	margin: 0 0 1em 0;
	.tsd-signature {
		margin: 0;
		border-width: 1px 0 0 0;
		transition: background-color 0.1s;
		&:first-child {
			border-top-width: 0;
		}
	}
}
ul {
	&.tsd-descriptions {
		position: relative;
		overflow: hidden;
		padding: 0;
		list-style: none;
	}
}
ul.tsd-descriptions h4,
ul.tsd-descriptions .tsd-index-panel h3,
.tsd-index-panel ul.tsd-descriptions h3 {
	font-size: 16px;
	margin: 1em 0 0.5em 0;
}
ul.tsd-parameters,
ul.tsd-type-parameters {
	list-style: square;
	margin: 0;
	padding-left: 20px;
}
ul.tsd-parameters > li.tsd-parameter-signature,
ul.tsd-type-parameters > li.tsd-parameter-signature {
	list-style: none;
	margin-left: -20px;
}
ul.tsd-parameters h5,
ul.tsd-type-parameters h5 {
	font-size: 16px;
	margin: 1em 0 0.5em 0;
}
ul.tsd-parameters .tsd-comment,
ul.tsd-type-parameters .tsd-comment {
	margin-top: -0.5em;
}
.tsd-sources {
	font-size: 14px;
	color: var(--color-text-aside);
	margin: 0 0 1em 0;
	a {
		color: var(--color-text-aside);
		text-decoration: underline;
	}
	ul {
		list-style: none;
		padding: 0;
	}
}
.tsd-sources ul,
.tsd-sources p {
	margin: 0 !important;
}

.tsd-select .tsd-select-list li:before,
.tsd-select .tsd-select-label:before,
.tsd-widget:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 -8px 0 0;
	background-image: url(./widgets.png);
	background-repeat: no-repeat;
	text-indent: -1024px;
	vertical-align: bottom;
	filter: var(--icon-filter);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .tsd-select .tsd-select-list li:before,
    .tsd-select .tsd-select-label:before,
    .tsd-widget:before {
        background-image: url(./widgets@2x.png);
        background-size: 320px 40px;
    }
}

.tsd-widget {
	display: inline-block;
	overflow: hidden;
	opacity: 0.8;
	height: 40px;
	transition: opacity 0.1s, background-color 0.2s;
	vertical-align: bottom;
	cursor: pointer;
	&:hover {
		opacity: 0.9;
	}
	&.active {
		opacity: 1;
	}
	&.no-caption {
		width: 40px;
		&:before {
			margin: 0;
		}
	}
	// &.search {
	// 	&:before {
	// 		background-position: 0 0;
	// 	}
	// }
	&.menu {
		&:before {
			background-position: -40px 0;
		}
	}
	&.options {
		&:before {
			background-position: -80px 0;
		}
	}
}
.tsd-widget.options,
.tsd-widget.menu {
	display: none;
}

@include media-breakpoint-down(lg) {
    .tsd-widget.options,
    .tsd-widget.menu {
        display: inline-block;
    }
}

input[type="checkbox"] {
	& + .tsd-widget {
		&:before {
			background-position: -120px 0;
		}
	}
}
input[type="checkbox"]:checked {
	& + .tsd-widget {
		&:before {
			background-position: -160px 0;
		}
	}
}
.tsd-select {
	position: relative;
	display: inline-block;
	height: 40px;
	transition: opacity 0.1s, background-color 0.2s;
	vertical-align: bottom;
	cursor: pointer;
	.tsd-select-label {
		opacity: 0.6;
		transition: opacity 0.2s;
		&:before {
			background-position: -240px 0;
		}
	}
	&.active {
		.tsd-select-label {
			opacity: 0.8;
		}
		.tsd-select-list {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
	}
	.tsd-select-list {
		position: absolute;
		visibility: hidden;
		top: 40px;
		left: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		list-style: none;
		transition: visibility 0s 0.2s, opacity 0.2s;
		li {
			padding: 0 20px 0 0;
			background-color: var(--bs-body-bg);
			&:before {
				background-position: 40px 0;
			}
			&:nth-child(even) {
				background-color: var(--color-panel);
			}
			&.selected {
				&:before {
					background-position: -200px 0;
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
// @media (max-width: 900px) {
    .tsd-select .tsd-select-list {
        top: 0;
        left: auto;
        right: 100%;
        margin-right: -5px;
    }
    .tsd-select .tsd-select-label:before {
        background-position: -280px 0;
    }
}

img {
	max-width: 100%;
}
.tsd-anchor-icon {
	margin-left: 10px;
	vertical-align: middle;
	color: var(--bs-body-color);
	svg {
		width: 1em;
		height: 1em;
		visibility: hidden;
	}
}
.tsd-anchor-link {
	display: flex;
	align-items: center;
	overflow: hidden;
	&:hover {
		& > .tsd-anchor-icon {
			display: flex;
			align-items: center;
			svg {
				visibility: visible;
			}
		}
	}
}
