tsd-navbar {
  color: var(--color-toolbar-text);
  background: var(--color-toolbar);
  transition: transform 0.3s linear;
  a {
    color: var(--color-toolbar-text);
    text-decoration: none;
    &.title {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .table-wrap {
    display: table;
    width: 100%;
    height: 40px;
  }
  .table-cell {
    display: table-cell;
    position: relative;
    white-space: nowrap;
    line-height: 40px;
    &:first-child {
      width: 100%;
    }
  }
  &.tsd-page-toolbar--hide {
    transform: translateY(-100%);
  }

  .navbar-brand {
    height: 36px;
  }

  @include media-breakpoint-down(sm) {
    &.search-has-focus {
      .navbar-brand, bs5-theme-button {
        display: none !important;
      }
    }
  }
}