tsd-search {
  .search-group {
    position: relative;
    width: 100%;
    #tsd-search-field-addon {
      background-color: transparent;
      transition: $transition-base;
      border: none;
      margin-right: -28px;
      z-index: 4;
    }
    input#tsd-search-field {
      width: 280px;
      max-width: calc(100vw - 90px);
      transition: $transition-base;
      padding-left: 36px;
      @include media-breakpoint-down(md) {
        &:not(:focus) {
          border: none;
          opacity: 0;
          width: 32px;
          padding-left: map-get($spacers, 2);
        }
      }
    }
  }
  .results {
    position: fixed;
    visibility: hidden;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    top: $default-navbar-height - 4;
    right: 0;
    width: 500px;
    max-width: 100%;
    list-style: none;
    li.list-group-item {
      border: none;
    }
    a {
      display: block;
    }
    span {
      &.parent {
        color: var(--color-text-aside);
        font-weight: normal;
      }
    }
  }
  &.has-focus {
    .results {
      visibility: visible;
    }
  }
  .input-group input,
  .title {
    transition: opacity 0.2s;
  }
}